/* *******************REGOLE GENERALI*********************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ************REGOLE MAIN***************** */

#number h1{
    text-transform: uppercase;
    font-size: 40px;

}

#number{
    width: 70%;
    height: 500px;
    background-color: chartreuse;
    border-radius: 30px;
    margin: 50px auto;
    padding: 30px;
    text-align: center;
    
}

 #start , #invia_num{
    margin: 50px auto;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 7px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
 }

 .none{
    display: none;
 }

 #visualizza, #secondi{
    margin-top: 100px;
    font-size: 50px;
 }

 /* ******************REGOLE FORM**************** */

 input{
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}


